* {
	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	margin:0;
      padding:0;
      font-family: 'Amazon Ember', sans-serif;
      font-family: 'Amazon Ember Cd RC', sans-serif;
      font-family: 'Amazon Ember Display', sans-serif;
      font-family: 'Amazon Ember Duospace', sans-serif;
      font-family: 'Amazon Ember Mono', sans-serif;
      font-family: 'Amazon Ember V2', sans-serif;
}
.main:last-child {
      margin-bottom: 0;
}
html {
     -webkit-text-size-adjust: 100%;
}
div {
     display: block;
}

body{
     font-size: 13px;
     line-height: 19px;
     color: #111;
}
.main{
     padding:14px 18px;
}
.text-center{
     text-align: center;
     margin-bottom: 18px;
     margin:auto;
    
}
.amazon-pic{
     width:115px;
     text-align: center;
}
.box{
    
     margin: auto;
     position: relative;
     width: 400px; 
     padding:25px 17px;

 }
 .border{
     border: 1px ridge rgb(218, 216, 216);

 }
 .grey-brder{
     background-color:rgb(233, 231, 231);
     border:1px solid rgb(90, 89, 89);
     box-shadow: rgb(58, 57, 57);

 }
 .grey-brder:hover{
     background-color: rgb(163, 162, 162);
 }
 .heading{
     font-size: 28px;
     font-weight:100;
     margin-bottom: 20px;
 }
 .bold{
     font-weight: bold;
     font-size: 13px;


 }
 .input-color{
    border: 1px ridge rgb(216, 213, 213);

}
 .field{
     text-align: center;
     width:90%;
     padding:4px;
     margin :5px;
 }
 .yellow-brder{
     background-color: rgba(250, 177, 19, 0.658);
     border:1px solid rgb(255, 123, 0);
     box-shadow: red;
 }
 .yellow-brder:hover{
     background-color: rgba(255, 123, 0, 0.884);
 }
 .input-color:focus{
     outline:1px solid red;
 }
 .privacy{
     margin: 18px 0;
     font-size: 12px;
 }
  a{
     text-decoration: none;
 }
 .help{
     font-size: 13px;
 }
 .create{
     padding:12px;
 }
 .footer{
	margin-top:10px;
	justify-contents:center;
     text-align:center; 
     border-top: 1px ridge rgb(235, 232, 232);
 }
 .link{
     padding-right:20px;
     font-size: 11px;
 }
 .licence{
     font-size:10px;
     margin: 7px;
 }
 .dropbtn {
     background-color: rgb(238, 234, 234);
     font-size: 13px;
     border: 1px ridge grey;
     cursor: pointer;
     padding: 4px;
 }
 
 .dropdown {
     text-align: left;
     position: relative;
     left:0;
     display: inline-block;
 }
 
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }
 
 .dropdown-content a {
     color: black;
     text-decoration: none;
     display: block;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1}
 
 .dropdown:hover .dropdown-content {
     display: block;
 }
 .mobile-section{
     display: flex;
 }
 .no{
     margin-left: 10px;
     width:270px;
     padding: 4px;
 }
 .icon{
     width:9%;
 }
 .header-nav{
      background-color: #111;
      color:white;
      display: flex;
      position:fixed;
      top: 0;
	width:100%;
      left: 0;
	right:9;
	z-index:3;
 }
.mobiles{
	width:150px;
}

 .logo{
     margin:4px;
     height: 50px;
  
 }
 
 .logo-img{
     margin:5px;
     width:100px;
 }
 .loc-white{
     width:10px;
 }
 .loc-details{
     margin:10px;
     padding:6px 6px 0 6px;
     width:20%;
     height: 50px;

 }
 .black-border{
     border:1px ridge black;

 }
 .black-border:hover{
     border:1px ridge white;

 }
 .grey-text{
     color:rgb(212, 206, 206);
     font-size: 10px;
 }
 .loc{
     font-weight: bold;
     font-size: 12px;
 }
 .search-area{
     margin-top:10px;
     width:660px;
     position:relative;
 }
 .search{
     width:100%;
     padding: 9px;
     position: absolute;
 }
 .search-button{
    width:100%;
    position: absolute;
 }
 
 .all{
     padding:14px 8px 7px 8px;
     border:none;
     position:relative;
     left:0;
     border-bottom-left-radius: 7px;
     border-top-left-radius: 6px;
 }
 .arrow{
     width:10px;
 }
 .right-icon{
    position:absolute;
    right:0;
 }
 .search-icon{
    position:relative;
    top:1px;
    padding: 8px 14px;
    background-color: rgb(255, 187, 0);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height:37px;
    margin-top: 8px;
  
 }
 .search-icon-img{
    width:16px;

 }
 .country{
    margin:18px 10px 13px 10px;
    padding:7px 10px 1px 10px;
    display:flex;
    height:20px;
    position: relative;
 }
 .india{
    width:25px;

 }
 .india-arrow{
    width:17px;
    height:20px;
 }
 .account-list{
    margin: 4px 10px;
    padding:3px;
    height: 60px;
 }
 .greet{
    font-size: 10px;
    color:rgb(231, 229, 229);
 }
 .account{
    font-weight: bold;
    display: flex;
    height: 60px;
 }
 .cart{
    width:50px;
    margin-top: 3px;
    padding-left: 2%;
    height: 50px;
 }
.cart-div{
    margin-left: 4%;
    height: 60px;
}
.body-container{
     position:absolute;
    top:50px;
	width:100%;
	overflow-x:hidden;
}
.sections{
	display:flex;
	flex-wrap: wrap;
	align-items:stretch;
}
.nav{
	position:relative;
      background-color: rgb(53, 52, 52);
      color:white;
	right:0;
	width:100%;
      font-size: 14px;
	padding-right:20px;
	margin-top:20px;
	z-index:2;
}
.left-part{
    float:left;
    background-color: rgb(58, 57, 57);
}

.clear{
    clear:both;
}
.right-part{
    float:right;
	right:0;
    font-size: 17px;
	padding-bottom:5px;
	padding-right:20px;
}
.menu{
    display: flex;
    margin:0;
}
.menu-img{
    width:40px;
    vertical-align: middle;
    margin-top:3px;
}
.menu-all{
    vertical-align: top;
    padding-right: 10px;
	margin:2px 0;
 
}
.grey-box{
    border : 1px ridge  rgb(53, 52, 52);

}
.grey-box:hover{
    border : 1px ridge  white;
}
.fresh{
    padding: 10px 7px 3px 7px;
    margin: 2px 0;
}
.home{
    background-color:#e0e0e0;
}
.amazon-app{
     width:30px;
	margin-top:5px;
	vertical-align: text-bottom;
}
.decor{
	width:200px;
	height:190px;
}
.right-part a{
    color:white;
    text-decoration: none;
	margin-right:10px;
}
.main-plan{
	width:100%;
	height:180px;
}

.navg-button{
	padding:10px 12px;
	color:grey;
	border: 1px ridge #e0e0e0;	
}
.navg-div{
	flex-basis: 8.3333%;
}
.product{
	margin:15px;
	background-color: white;
	float:left;	
}
.pro1-img1{
    	width:125px;
    	float: left;
	margin: 0 30px;
	
}

.product0{
	padding:20px;
}
.product1{
   	display:flex;
	margin:10px;
	padding-top:8px;	
}
.product2{
	margin:10px;
	padding:10px 10px;
    	background-color: white;
	float:left;

}
.product-div{
	margin:10px;
}
.fest-img{
	width:400px;
	margin:20px;
}
.fest-head{
	padding:4px;
}
.ranga-img{
	width:320px;
}
.mobile{
	width:150px;
}
.ranga-head{
	padding:4px;
}
.ranga{
}
.study{
	width:100px;
}
.study-a{
	margin-top:10px;
}
.baster{
	width:150px;
	height:150px;
}

.video-div{
	position:relative;
	color:white;
	background-color:black;
}

.video-head{
	position:absolute;
	top:5px;
	padding:5px;
	
}
.runway{
	padding:2px;
}
.watch-link{
	bottom:10px;
	position:absolute;
	padding:10px;
}

.video-img{
	width:500px;
	height:150%;
}
.category img{
	width:180px;
}

.product-sect{
	display:flex;
	padding: 5px 0 0px 7px;
	background-color:white;
	margin:10px 8px;
}
.product-sec{
	margin-top:10px ;
	padding:30px;
	
}
.product-sec2{
	margin-top:10px ;
}
.product-sec2 img{
	width:190px;	
}
.product-sec2{
	padding:8px;
}
.trending{
	padding:10px;
	width:130px;
	height:160px;
}
.product-details{
	color:#CC0C39;
	font-weight:bold;
}
.bottle{
	width:65%;
}
.offer{
	background-color:#CC0C39;
	margin:5px 0;
	border:none;
	padding:3px;
}
.item-container{
	background-color:white;
	margin:25px 25px 10px 25px;
	padding:20px;
}

.prdct-head{
	font-size:20px;
	font-weight:bold;

}
.pro1-img2{
	margin:2px;
	width:125px;
}
.brand-img{
	width:260px;
}

.sub{
	background-color:white;
	margin:50px;
	display:flex;
}
.sub2{
	
	margin:50px;
	display:flex;
	background-color:grey;
}
.footer1{
	background-color:black;
	color:white;
	text-align:left;
	margin:0;
	bottom:0;
	padding:40px 0;

}
.footer1 div{
	padding:8px 0;
}
.footer1-content{
	display:flex;
}
.footer1-empty{
	width:10%;
}
.footer1-header{
	font-size:18px;
	font-weight:bold;
}
.footer1-container{
}
.footer2{
	text-align:center;
	background-color:black;
	color:white;
	border-top:1px ridge white;

}
.footer2-head{
	display:flex;
	align-items: center;
  justify-content: center;
}
.footer-amazon{
	width:100px;
}
.footer2-head button{
	padding: 5px 20px;
	margin:40px;
	background-color:transparent;
	color:white;
	border:1px ridge white;

}
.footer2-head button img{
	width:20px;
	margin:2px;
}
.footer2-content{
	display:flex;
	align-items: center;
  	justify-content: center;
}
.footer2-content div{
	margin:7px 15px;
}
.footer3{
	background-color:black;
	color:white;
	padding:20px;

}
.footer3-container{
	display:flex;
	align-items: center;
  	justify-content: center;
	margin:20px;
}
.footer3-space{
	width:60px;
	
}
.footer3 a{
	color:grey;
}
.footer3-container div{
	margin:10px;
}
.back-top{
	position:relative;
	background-color:black;
	color:white;
	text-align:center;
	padding:20px;
	font-size:12px;
}
.back-top:hover{
	background-color:grey;
}
.back-top  a{
	color:white;
}
.header-fresh{
	position:relative;
	top:100px;
	background-color:white;
}
.list{
	background-color:grey;
}

.list-container{
	position:absolute;
	top:50px;
	background-color:black;
	color:white;
}
.listbody{
}
.fresh-head{
	position:absolute;
	top:70px;
	
}
.fresh-menu{
	display:flex;
}
.fresh-heads{
	display:flex;
	vertical-align:text-top;
}
.fresh-heads{
	margin:5px 0;
}
.fresh-img{
	width:50px;
	margin:5px;
}
.fresh-heads div{
	margin:14px;
	vertical-align:middle;
}
.fresh-heads div a{
	color:black;
}
.fresh-heads div a:hover{
	color:red;
}
.fresh-offer{
	display:flex;
}
.sbi{
	display:flex;
}
.cart-add{
	padding:7px 40px;
	background-color:orange;
	border:none;
	border-radius:5px;
	white-space: nowrap;

}
.fresh-add-head{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	padding:8px 2px;
}
.fresh-details{
	color:#0F52BA;
	font-weight:light;
}
.star{
	width:90px;
	margin:0;
	padding:0;
}
.aprice{
	color:red;
	padding-right:20px;
}
.oprice{
	color:grey;
}
.offer-percent{
	background-color:	#DC143C;
	border:none;
	margin:15px 0;
	padding:3px 4px;

}

.head-add{
	
}
.shop-by-category{
	text-align:center;
	margin:30px;
}
.shop-by-category-head{
	font-size:35px;
	font-weight:bold;
}
.cat-contain{
	display:flex;
}
.cat{
	width:300px;
	margin:15px;
}
.tata{
	display:flex;
	margin:7px;	
}
.tata img{
	width:98%;
}
.organic{
	display:flex;
}
.organic img{
	width:96%;
	margin:6px;
}
.peak{
	width:90%;
}
.shop-by-offers{
	align-items:center;
	justify-content:center;
	text-align:center;

}
.savings{
	display:flex;
}
.savings img{
	width:80%;
}
.supersaver{
	margin:2px 10px;
}
.pro-head{
	display:flex;
	margin:10px;
}
.veda-full-img{
	width:98%;
}
.pro-head div:nth-of-type(1){
	flex-grow:1;
}
.pro-head div:nth-of-type(2){
	flex-grow:14;
}
.pro-head-pic img{
	border: 1px solid blue;
	border-radius:5px;
}
.pro-head-pic{
	
}

.pro-head-text{
	font-size:14px;
	font-weight:600;

}
.pro-panel{
	margin:20px;
	display:flex;
}
.side-pic{
	float:left;
	margin:10px;
}
.main-pic{
	float:left;
	width:600px;
}

.main-pic img{
	width:100%;
	margin:10px;
}
.pro-content{	
	margin:10px;
	padding:10px;
}
.pro-content-header{
	font-size:25px;
	line-height:1.5em;
}
.right-check{
	float:right;
	border:1px ridge grey;
	padding:10px;
	height:max-content;
}
.credits{
	display:flex;
}
.oil-link{
	margin:6px;
}
.oil-link a{
	color:#708090;
	padding-right:5px;
}
.brand-name{
	border-bottom:1px ridge grey;

}
.mrp{
	font:12px;
	margin:5px 30px;
}
.price{
	font-size:16px;
	color:red;
}
.tax{
	padding-left:60px;
}

.tabled-offer, .tabled-offer tr ,.tabled-offer td{
	border:1px solid grey;
	 border-collapse: collapse;
}
.tabled-offer td{
	padding:10px 5px;
}

.right-head{

}
.right-details{
	float:left;
}

.floating{
	float:lrft;
}
.right-check div{
	margin:10px 12px;
}
.pro-add{
	padding:8px 38px;
	background-color:yellow;
	border:none;
}
.cart-added{
	margin:20px 10px;
}
.delivery-type{
	display:flex;
	border-bottom: 1px ridge grey;
}
.delivery-type div{
	margin:5px 10px;
}
.green-text{
	color:green;
	font-size:22px;
	margin-top:20px;
}
.packs{
	display:flex;
}
.pack-container{
	border :1px ridge grey;
	padding: 15px 30px;
	margin-right:25px;
}

.pack-container-head{
	font-size:16px;
}
.red-colored{
	border:1px solid red;
	background-color:#FFF2F2;
}
.green-dot{
	width:5%;
}
.veg-pro{
	margin:10px;
	border-bottom: 1px ridge grey;
}
.about-item{
	
}
.about-item-head{
	font-size:24px;
}

.about-item{
	padding: 10px 0;
}
li{
	padding:15px 0;
}
.origin-content{
	display:flex;
	align-items:center;
	justify-content:center;
	padding-left:30px;
	line-height: 2;
	margin:0 auto;
}
.origin-details{
	width:80%;
	padding-left:20px;
}
.origin-head2{
	font-size:20px;
	padding-left:20px;
}

.center{
	margin: 0 auto;
	justify-content:center;
}
.pure{
	width:300px;
	margin:20px;

}
.tasty{
	margin:20px;
}
.tasty-head{
	font-size:18px;
	font-weight:bold;
}
.flex{
	display:flex;
	justify-content: center;
  	align-items: center;
	margin:10px 25px;
}
.tasty-img{
	margin-right:20px;
}
.about-packing{
	margin:20px;
}
.about-packing-head-about
{
	width:60%;
}
.view-clear{
	margin:10px;
}
.view-cart, .clear-cart{
	border:1px solid #F5F5F5;
	border-radius:12px;
	padding: 3px 10px;
	background-color: white;

}
.view-cart:hover, .clear-cart:hover{
	background-color: #F8F8F8;
}
.buy-cart{
	float:right;
	background-color: #FaFaFa;
	border:1px ridge #f3f3f3;
	margin:10px;
	line-height:2;
	padding:20px 5px;
}
.product-cart{
	float:left;
	width:70%;
	margin:10px;
}
.product-cart-head{
	font-size:16px;
	margin:10px;
	border-bottom:1px solid #f1f1f1;
}
.main-flex{
	border-top:2px solid #f1f1f1;
	border-bottom:2px solid #f1f1f1;
}
.cart-view-all{
	float:right;
	margin:5px;
}
.cart-main-img{
}
.cart-main-details-head{
	font-size:16px;
	font-weight:bold;
	
}
.cart-main-details{
	margin:30px;
	line-height:2;
	flex-grow: 4;
}
.buy-cart-button{
	margin: 0 auto;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.buy-cart-button button{
	background-color:yellow;
	padding:5px 12px;
	border:none;
}
.buy-cart-details-extra{
	text-align:center;
}
.grand-total{
	float:right;
	font-size:15px;
	font-weight:bold;
}
.cart-main-price{
	color:red;
}
.cart-main-img img{
	width:60%;
}
.contact-head{
	font-size:20px;
	font-weight:400;
	padding:10px;
}
.contact-us{
	background-color:#f4f4f4;
}
.contact-color{
	background-color:white;
}
.contact-center{
	justify-content:center;
	text-align:center;
	align-items:center;
	
}
.chat ,.call{
	margin:20px;
	text-align:left;
	width:30%;
	background-color:white;
	padding:10px 40px;
}

.another{
	width:30%;
	height:50px;
	margin: 0 40px;
}
.chat-head,call-head{
	font-size:15px;
	font-weight:400;
}
.chat button , .call button{
	padding:5px 8px;
	border: 1px solid #F3F3F3F3;
}
.our-own-head{
	font-size:18px;
	font-weight:400;
	text-align:center;
	margin:20px;
}
.our-own{
	background-color:white;
	padding:10px;
	
}

.check-amazon{
	width:30%;
}

.head-check{
	font-size:28px;
	font-weight:400;
	width:50%;
}
.lock{
	width:20px;
	margin-left:20px;
	text-align:center;
}
.check-box{
	margin:0 auto;
}
.check-out-head{
	background-color:#f5f5f5;
	padding:20px;
	
}

.amazon-check-head{
	width:35%;
}
.purchase{
	align-items:center;
	margin: 0 auto;
	justify-content:center;
	float:left;
}
.purchase div{
	width:80%;
	margin: 0 auto;

}
.check-right{
	float:right;
}
.lft-check{
	float:left;

}
.rit-check{
	float:right;
}
.lft-flex{
	display:flex;
}
.check-middle{
	margin: 0 auto;
	width:80%;
}
.number,.commands{
	font-size:16px;
	font-weight:bold;
	margin:7px;

}
.commands{
	width:70%;
}
.payment-plan{
	border: 1px solid rgb(212 206 206);
	padding:20px;
	line-height:2.5;
	margin:17px;
}
.select-payment{
	color:red;
	font-weight:bold;
}

.Guaranteed{
	color:#1f5a1f;
}
.apply{
	padding:0 5px;
	border: 1px solid rgb(212 206 206);

}

.payment-methods{
	color:grey;
}
.cod-details{
	font-size:10px;
	font-weight:100;
}
.use-payment{
	background-color:yellow;
	border-radius:10px;
	border: 1px solid #f6f6f6;
	padding:4px 10px;
}
.rit-check-details{
	text-align:center;
	border: 1px solid #f6f6f6;
	padding:10px;

	
}

.item-head, .price-itm{
	float:left;

}
.rit-price{
	float:right;
}